.usersBlock {
    display: grid;
    grid-template-columns: 0.5fr 3fr 6fr;
    grid-template-rows: 80px;
}

.userPhoto {
    width: 50px;
    border-radius: 30px;
}

.pageNumberActive {
    background-color: green;
}

.paginationBlock {
    text-align: center;
}