.profileBlock {
    margin: 10px;
}

.profileBlock img {
    width: 100px;
    border-radius: 50px;
}

.contact {
    margin-left: 20px;
}

.userName {
    font-size: 24px;
    font-weight: bold;
}

.formSummaryError {
    color: white;
    background-color: red;
    padding: 2px;
    border-radius: 5px;
}